#numbers{
  text-align: right;
  border: solid 2px black;
  position: fixed;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
  left: 0;
  top: 0;
}

input,button{
margin-right: 20px;
}

#screen{
  height: 600px;
  width: 600px;
  position: fixed;
  left: 304px;
  border: solid 3px #b70;
}
